apiVersion: v1
kind: Secret
metadata:
    name: mongodb-secret
type: Opaque
data:
    mongo-root-username: dXNlcm5hbWU= 
    mongo-root-password: cGFzc3dvcmQ=
    # base64 encoded values ```echo -n "username" | base64```
